@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.contact {
    min-height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/6169319.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* There are > * < */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo_contact > a > img {
    width: 200px;
    position: fixed;
    top: 0;
    left: 30px;
}

.back-filter {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    padding-top: 200px;
    padding-right: 140px;
    padding-left: 140px;
}

.svg-inline--fa {
    font-size: 25px;
    margin-right: 20px;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    color: white;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info,
.contact-form {
    flex: 1;
}

.contact-form h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form .text-box {
    background-color: black;
    color: white;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .text-box:first-child {
    margin-right: 15px;
}

.contact-form textarea {
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
    float: right;
    background-color: #2e94e3;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background-color: #0068b8;
}

.alert-success {
    z-index: 1;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-radius: 4px;
    background-color: #d4edda;
    border-left: 8px solid #3ad44e;
    margin-bottom: 740px;
    display: none;
}

.box-2 {
    display: none;
}

/* Media css */
@media screen and (max-width: 950px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        margin: 30px 50px;
    }

    .contact-form h2 {
        font-size: 30px;
    }

    .contact-form,
    .text-box {
        width: 100%;
    }
}